.categorie-container {
  background-color: $color-2;
  margin: 50px 0;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;

  .categorie {
    position: relative;
    background-color: red;
    color: $color-2;
    width: 280px;
    height: 300px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 4px 4px $color-5;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &:hover::before {
      opacity: 1;
    }

    p {
      position: relative;
      z-index: 2;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.3s ease;
      z-index: 2;
    }

    &:hover::after {
      opacity: 1;
    }

    &.mariage {
      background-image: url('../../../assets/image/Mariage/drew-coffman-llWjwo200fo-unsplash.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      &:after {
        content: "Mariage";
      }
    }

    &.grossesse {
      background-image: url('../../../assets/image/Grossesse/freestocks-AOod3VqkEfQ-unsplash.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      &:after {
        content: "Grossesse";
      }
    }

    &.bebe {
      background-image: url('../../../assets/image/Bebe/brytny-com-C4rXIFSzEXk-unsplash.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      &:after {
        content: "Bébé";
      }
    }

    &.famille {
      background-image: url('../../../assets/image/Famille/ioann-mark-kuznietsov-9QTQFihyles-unsplash.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      &:after {
        content: "Famille";
      }
    }

    &.bapteme {
      background-image: url('../../../assets/image/Bapteme/anna-hecker-ecbXfGuiGEM-unsplash.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      &:after {
        content: "Baptême";
      }
    }

    &.couple {
      background-image: url('../../../assets/image/Couple/allef-vinicius-0dXvugMScIY-unsplash.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      &:after {
        content: "Couple";
      }
    }

    &.portrait {
      background-image: url('../../../assets/image/Portrait/michael-dam-mEZ3PoFGs_k-unsplash.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      &:after {
        content: "Portrait";
      }
    }
  }

  

  @media (min-width: 787px) {
    .categorie {
      height: 400px;
      width: 600px;
      margin: 80px 0;
    }
  }

  @media (min-width: 1220px) {
    .categorie {
      height: 600px;
      width: 927.7px;
      margin: 80px 0;
    }
  }
}
