@font-face {
  font-family: "font-1";
  src: "";
  ;
}

$font-1 : "font-1", sans-serif;

$color-1 : #4B585F;
$color-2 : #FBFBFA;
$color-3 : #ECCC68;
$color-4 : #BEBEBE;
$color-5 : rgba(0, 0, 0, 0.2);



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-2;
  font-family: $font-1;
  font-size: 16px;
}

ul {


  a{
    text-decoration: none;

    li {
      list-style-type: none;
      
    }
  }
}

