.navigation {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100vw;
  background-color: $color-1;
  z-index: 1000;
  padding: 0px 20px;
  transition: background-color 0.3s ease, color 0.5s ease;


  .logo-container {
    .logo {
      display: flex;
      height: 50px;
      width: 50px;
      border-radius: 10px;
      box-shadow: 4px 4px 4px $color-5;
    }
  }

  .menu {
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;


    li {
      padding: 30px 0;
      color: $color-2;
    }

    li:hover {
      color: $color-3;
    }
  }

  &.open {
    .menu {
      position: absolute;
      top: 80px;
      right: 0px;
      height: 100vh;
      justify-content: center;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      animation: slide-in 0.3s forwards;
      background-color: $color-1;
    }
  }

  .menu-button {
    background: none;
    border: none;
    cursor: pointer;


    .reorder-three-outline {
      height: 30px;
    }

    .logo {
      height: 50px;
      width: 50px;
    }
  }

  @media (max-width: 767px) {
    .menu-button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      width: 30px;
      height: 30px;
    }

    &.open {
      .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: slide-in 0.3s forwards;
      }
    }
  }

  @media (min-width: 768px) {
    &.transparent {
      background: $color-2;
      height: 50px;

      .menu {
        li {
          color: $color-1;
        }

        li:hover {
          color: $color-3;
        }

      }

      .logo-container {
        .logo {
          height: 45px;
          width: 45px;
        }
      }
    }

    .logo-container {
      position: absolute;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;

      .logo {
        display: inline;
        width: 90px;
        height: 90px;
      }
    }

    .menu {
      width: 100vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      li {
        padding: 0 20px;
      }
    }

    .menu-button {
      display: none;
    }

  }

  @media (min-width: 1440px) {
    .logo-container {
      width: 1440px;
    }

    .menu {
      width: 1440px;
    }
  }

  @keyframes slide-in {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0);
    }
  }
}