.all-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-1; 
  

  .title-tarifs {
    padding-top: 50px;
    color: $color-2;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 787px) {
      padding-top: 100px;
      font-size: 64px;
    }
  }

  .tarifs-container {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    background-color: $color-1;

    .photo {
      height: 120px;
      width: 120px;
      border-radius: 50%;
      margin: 0 20px;
      box-shadow: 2px 4px 4px $color-5;
    }

    .photo-portrait {
      background-image: url(../../../assets/image/Portrait/ali-morshedlou-WMD64tMfc4k-unsplash.jpg);
    }

    .photo-duo {
      background-image: url(../../../assets/image/Couple/candice-picard-vLENm-coX5Y-unsplash.jpg);
    }

    .photo-famille {
      background-image: url(../../../assets/image/Famille/luemen-rutkowski-ZWbBxZ6zTwM-unsplash.jpg);
    }

    .photo-grossesse {
      background-image: url(../../../assets/image/Grossesse/neal-e-johnson-iLNKpdI0Pzg-unsplash.jpg);
    }

    .photo-bebe {
      background-image: url(../../../assets/image/Bebe/jonathan-borba-CgWTqYxHEkg-unsplash.jpg);
    }

    .photo-evenement {
      background-image: url(../../../assets/image/Mariage/leonardo-miranda-dvF6s1H1x68-unsplash.jpg);
    }

    .tarif-link {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px 0;
      color: $color-2;
      text-decoration: none;
      transition: all 0.3s;
      position: relative;

      &:hover {
        color: $color-3;
      }

      &.portrait {
        .photo-portrait {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }

      &.pour-deux {
        flex-direction: row-reverse;
        .photo-duo {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }

      &.famille {
        .photo-famille {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }

      &.grossesse {
        flex-direction: row-reverse;
        .photo-grossesse {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }

      &.bebe {
        .photo-bebe {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }

      &.evenement {
        flex-direction: row-reverse;
        .photo-evenement {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }

    @media (min-width: 787px) {
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: minmax(100px, 1fr);
      grid-gap: 50px;
      flex-direction: row;

      .photo {
        margin: 40px 0;
        height: 15rem;
        width: 15rem;
      }

      .tarif-link {
        display: flex;
        flex-direction: column;

        &.portrait {
          grid-column: 1;
          grid-row: 1;
        }
  
        &.pour-deux {
          display: flex;
          flex-direction: column;
          grid-column: 2;
          grid-row: 1;
        }
  
        &.famille {
          grid-column: 3;
          grid-row: 1;
        }
  
        &.grossesse {
          display: flex;
          flex-direction: column;
          grid-column: 1;
          grid-row: 2;
        }
  
        &.bebe {
          grid-column: 2;
          grid-row: 2;
        }
  
        &.evenement {
          display: flex;
          flex-direction: column;
          grid-column: 3;
          grid-row: 2;
        }
      }
    }
  }
}
