.all-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-1;

  .title-tarifs {
    padding-top: 50px;
    color: $color-2;
    display: flex;
    align-items: center;
    justify-content: center;
  
    @media (min-width: 787px) {
      padding-top: 100px;
      font-size: 64px;
  
    }
  }
  
  .tarifs-container {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    background-color: $color-1;
    
    .photo {
      height: 120px;
      width: 120px;
      border-radius: 50%;
      margin: 0 20px;
      box-shadow: 2px 4px 4px $color-5;
    }

    .photo-portrait{
      background: url(../../assets/image/Portrait/ali-morshedlou-WMD64tMfc4k-unsplash.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  
    .photo-duo{
      background: url(../../assets/image/Couple/candice-picard-vLENm-coX5Y-unsplash.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .photo-famille{
      background: url(../../assets/image/Famille/luemen-rutkowski-ZWbBxZ6zTwM-unsplash.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .photo-grossesse{
      background: url(../../assets/image/Grossesse/neal-e-johnson-iLNKpdI0Pzg-unsplash.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .photo-bebe{
      background: url(../../assets/image/Bebe/jonathan-borba-CgWTqYxHEkg-unsplash.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .photo-evenement{
      background: url(../../assets/image/Mariage/leonardo-miranda-dvF6s1H1x68-unsplash.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .tarifs {
      display: flex;
      padding: 0 20px;
      justify-content: space-around;
      align-items: center;
      padding: 30px 0;
  
    }
  
    .pour-deux {
      display: flex;
      flex-direction: row-reverse;
    }
  
    .grossesse {
      display: flex;
      flex-direction: row-reverse;
    }
  
    .evenement {
      display: flex;
      flex-direction: row-reverse;
    }
  
    .btn-tarifs {
      color: $color-2;
      text-decoration: none;
      padding: .75rem 1.25rem;
      transition: all .3s;
      position: relative;
  
      &:hover {
        color: $color-3;
      }
    }
  }
  @media (min-width: 787px) {
  
    .tarifs-container{
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: minmax(100px, 1fr);
      grid-gap: 50px;
      flex-direction: row;

      .photo {
        margin: 40px 0;
        height: 15rem;
        width: 15rem;
      }
  
      .tarifs {
        display: flex;
        flex-direction: column;
  
      }
  
      .portrait {
        grid-column: 1;
        grid-row: 1;
      }
  
      .pour-deux {
        grid-column: 2;
        grid-row: 1;
      }
  
      .famille {
        grid-column: 3;
        grid-row: 1;
      }
  
      .grossesse {
        grid-column: 1;
        grid-row: 2;
      }
  
      .bebe {
        grid-column: 2;
        grid-row: 2;
      }
  
      .evenement {
        grid-column: 3;
        grid-row: 2;
      }
    }
  }  
}


